<%- include ('../../partials/header') -%>
<div class="linkcontainer">
    <h1>Exercise 1.5</h1><hr>
    <div class="ques">
        <p>
            Example 1.20	Represent the function f (x)=<SQRT>2x<sup>2</sup>-5x+3</SQRT>	as a composition of two functions.
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/iyLpKoATudc"> Answers</a>
        for above Questions.
        <hr>
        <p>
            Example 1.21 If f (x) = 3x − 2 , g(x) = 2x + k
and if f (g) = g (f) , then find the value of k.
        </p>
        <p>
            Example 1.22 Find k if f  f (k) = 5 where f (k) = 2k − 1 
        </p>
        <p>
            Example 1.23	If f (x) = 2x + 3, g(x) = 1 − 2x and h(x) = 3x . Prove that f  (g  h) = (f  g)  h
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/iyLpKoATudc"> Answers</a>
        for above Questions.
        <hr>
        <p>
            Example 1.24 Find x if gff(x) = fgg(x), given f (x) = 3x + 1 and g(x) = x + 3 .
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/iyLpKoATudc"> Answers</a>
        for above Questions.
        <hr>
        <p>
            1.	Using  the functions f  and  g  given  below, find	f  g
            f  g = g  f .
             
            and g  f . Check whether
             
            (i) f (x) = x − 6,
             
            g(x) = x 2	(ii) f (x) =
             
            2 , g(x) = 2x 2 − 1
            x
             
            (iii)	f (x) = x + 6 ,
            3
             
            g(x) = 3 − x
             
            (iv)	f (x) = 3 + x,
             
            g(x) = x − 4
             
            (v)	f (x) = 4x 2 − 1,
             
            g(x) = 1 + x
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/iyLpKoATudc"> Answers</a>
        for above Questions.
        <hr>
        <p>
            2.	Find the value of k, such that f  g = g  f
(i) f (x) = 3x + 2, g(x) = 6x − k
(ii) f (x) = 2x − k, g(x) = 4x + 5
        </p>
        <p>
            3. If f (x) = 2x − 1,
g(x) = x + 1 /2, show that f  g = g  f = x
        </p>
        <p>
            4. If f (x) = x <sup>2</sup> − 1,
g(x) = x − 2 find a, if g  f (a) = 1 
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/iyLpKoATudc"> Answers</a>
        for above Questions.
        <hr>
        <p>
            5.	Let A, B,C Í  and a function f : A ® B be defined by f (x) = 2x + 1 and g : B ® C
be defined by g(x) = x 2 . Find the range of f  g and g  f .
        </p>
        <p>
            6.	Let f (x) = x 2 − 1 . Find (i) f  f	(ii) f  f  f
        </p>
        <p>
            7.	If f :  ®  and g :  ®  are defined by f (x) = x 5 and g(x)  x4 then check if f, g
are one-one and f  g is one-one?
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/iyLpKoATudc"> Answers</a>
        for above Questions.
        <hr>
        <p>
            8.	Consider the functions f (x), g(x), h(x) as given below. Show that
(f  g)  h = f  (g  h)
in each case.
(i)	f (x) = x − 1, g(x) = 3x + 1 and h(x) = x 2
(ii)	f (x) = x 2,
g(x) = 2x
and h(x) = x + 4
(iii)	f (x) = x − 4, g(x) = x 2 and h(x) = 3x − 5
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/iyLpKoATudc"> Answers</a>
        for above Questions.
        <hr>
        <p>
            9.	Let f = {(−1, 3),(0,−1),(2,−9)} be a linear function from  into  . Find f (x).
        </p>
        <p>
            10.	In electrical circuit theory, a circuit C(t) is called a linear circuit if it satisfies the
superposition  principle  given  by  C (at1 + bt2 ) = aC (t1 ) + bC (t2 ),  where  a,b	are
constants. Show that the circuit C (t) = 3t is linear.
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/iyLpKoATudc"> Answers</a>
        for above Questiions
        <hr>.
    </div>
</div>

<%- include('../../partials/feedback') -%>
<%- include ('../../partials/footer') -%>