<%- include ('../../partials/header') -%>
<div class="linkcontainer">
    <h1>Exercise 1.4</h1><hr>
    <div class="ques">
        <p>
            Example 1.10 Using vertical line test, determine which of the following curves (Fig.1.18(a), 1.18(b), 1.18(c), 1.18(d)) represent a function?
        </p>
        <p>
            Example 1.11  Let  A = {1, 2, 3, 4}
    and  B = {2, 5, 8,11,14}
    be two sets. Let f
    : A® B
    be a
    function given by f (x) = 3x − 1 . Represent this function
    (i) by arrow diagram	(ii) in a table form
    (iii) as a set of ordered pairs	(iv) in a graphical form
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/NPb4JvxkAMY"> Answers</a>
        for above Questions.
        <hr>
        <p>
            Example 1.12 Using horizontal line test (Fig.1.35 (a), 1.35 (b), 1.35 (c)), determine which of the following functions are one – one.
        </p>
        <p>
            Example 1.13  Let  A = {1, 2, 3} ,  B = {4, 5, 6, 7}
     
    and   f  = {(1, 4),(2, 5),(3, 6)}
     
    be a function
     
    from A to B. Show that f is one – one but not onto function.
        </p>
        <p>
            Example 1.14  If   A = {−2,−1, 0,1, 2}
    f (x) = x 2 + x + 1 then find B.
     
    and	f
     
    : A® B
     
    is an onto function defined by
    
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/TkhKNvRNCvs"> Answers</a>
        for above Questions.
        <hr>
        <p>
            Example 1.15 Let f be a function f :  ®  be defined by f (x) = 3x + 2, x ∈ 
    (i)	Find the images of 1, 2, 3	(ii) Find the pre-images of 29, 53
    (ii)	Identify the type of function
        </p>
        <p>
            Example 1.16 Forensic scientists can determine the height (in cm) of a person based on the length of the thigh bone. They usually do so using the function h(b) = 2 ⋅ 47b + 54 ⋅ 10 where b is the length of the thigh bone.
    (i)	Verify the function h is one – one or not.
    (ii)	Also find the height of a person if the length of his thigh bone is 50  cm.
    (iii)	Find the length of the thigh bone if the height of a person is 147 × 96 cm.
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/Wox9pVzc1tY"> Answers</a>
        for above Questions.
        <hr>
        <p>
            Example 1.17 Let f be a function from  to  defined by f (x) = 3x − 5 . Find the values of a and b given that (a, 4) and (1, b) belong to f.
        </p>
        <p>
             
    2x + 7;
    Example 1.18 If the function f :  ®  is defined by f (x) =  2 − 2;
    
     
    x &lt −2
    − 2 ≤ x &lt 3 ,
     
    then find the values of
     
    3x − 2;
     
    x ≥ 3
     
    (i)	f (4)
     
    (ii)	f (-2)
     
    (iii)	f (4) + 2f (1) 
     
    (iv) f (1) - 3f (4)
    f (-3)
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/l9yBXAiCAds"> Answers</a>
        for above Questions.
        <hr>
        <p>
            Example 1.19 Find f  g and g  f
    and g(x) = x 2 − 2
    when f (x) = 2x + 1
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/c4PNb7jftvU"> Answers</a>
        for above Questions.
        <hr>
        <p>
            1.	Determine whether the graph given below represent functions. Give reason for your answers concerning each graph.
        </p>
        <p>
            2.	Let f : A ® B be a function defined by f (x) = x − 1,
     
    where   A = {2, 4, 6,10,12} ,
     
    B = {0,1, 2, 4, 5, 9} . Represent f  by 	2
    (i)	set of ordered pairs	(ii) a table	(iii) an arrow diagram	(iv) a graph
        </p>
        <p>
            3.	Represent the function  f  = {(1, 2),(2, 2),(3, 2),(4, 3),(5, 4)} through
    (i)  an arrow diagram	(ii) a table form	(iii) a graph
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/bNVmJGVUfTw"> Answers</a>
        for above Questions.
        <hr>
        <p>
            4.	Show that the function f :  ®  defined by f (x) = 2x – 1 is one-one but not onto.
        </p>
        <p>
            5.	Show that the function f :  ®  defined by f (m) = m2 + m + 3 is one-one function.
        </p>
        <p>
            6.  Let A = {1, 2, 3, 4}
 
            and B =  . Let f
             
            : A ® B
             
            be defined by f (x) = x 3 then,
             
            (i)	find the range of f	(ii) identify the type of function
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/oV1p7BuWwFU"> Answers</a>
        for above Questions.
        <hr>
        <p>
            7.	In each of the following cases state whether the function is bijective or not. Justify your answer.
 
(i) f :  ® 
 
defined by f (x) = 2x + 1	(ii) f :  ® 
 
defined by f (x) = 3 – 4x 2
        </p>
        <p>
            8.	Let A = {−1,1} and  B = {0, 2} . If the function  f
an onto function? Find a and b.
 
: A ® B
 
defined by f (x) = ax + b is
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/yOp18jzJAWM"> Answers</a>
        for above Questions.
        <hr>
        <p>
            9.	If  the  function  f  is defined by	2;
x – 1;
x > 1
− 1 ≤ x ≤1
− 3 < x < −1
find the values of
(i)	f (3)
(ii)	f (0)
(iii)	f (−1 ⋅ 5)
(iv) f (2) + f (−2)
        </p>
        <p>
            10.	A function f : [−5, 9] →  is defined as follows:
6x + 1;
f (x) =  x 2 − 1;
3x – 4;
− 5 ≤ x < 2 2 ≤ x < 6
6 ≤ x ≤ 9
Find	(i) f (−3) + f (2)
 
(ii) f (7) - f (1)
 
(iii) 2f (4) + f (8)
 
(iv) 2f (−2) − f (6) / f (4) + f (−2)

        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/uAyAR90UujE"> Answers</a>
        for above Questions.
        <hr>
        <p>
            11.	The distance S an object travels under the influence of gravity in time t seconds is
given by S(t) = 1 gt 2 + at + b where, (g is the acceleration due to gravity), a, b are
2
constants. Verify wheather the function S(t) is one-one or not.
        </p>
        <p>
            12.	The function ‘t’ which maps temperature in Celsius (C) into temperature in Fahrenheit (F) is defined by t(C ) = F where F = 9 C + 32 . Find,
5
 
(i)	t(0)
(ii)	t(28)
(iii)	t(-10)
(iv)	the value of C when t(C ) = 212
(v)	the temperature when the Celsius value is equal to the Farenheit value
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/df2TkiU_QQ4"> Answers</a>
        for above Questions.
        <hr>
    </div>
</div>
<%- include('../../partials/feedback') -%>
<%- include ('../../partials/footer') -%>