<%- include ('../../partials/header') -%>
<div class="linkcontainer">
    <h1>Exercise 1.3</h1><hr>
    <div class="ques">
        <p>
            Example 1.6 A, C, M and E respectively. If A1, A2, A3, A4  and A5  were Assistants; C1, C2, C3, C4 were Clerks; M1, M2, M3 were managers and E1, E2 were Executive officers and if the relation R is defined by xRy, where x is the salary given to person y, express the relation R through an ordered pair and an arrow diagram.
        </p>
        <p>
            Example 1.7   A relation f :X →Y is defined by f (x) =x 2  − 2 where, X  = {−2,−1, 0, 3} and Y = R.
(i)	List the elements of  f	(ii) Is f a function?
        </p>
        <p>
            Example 1.8	If X = {–5,1,3,4} and Y = {a,b,c}, then which of the following relations are functions from X to Y ?
        </p>
        <p>
            Example 1.9	Given f (x) = 2x – x 2 ,
find (i)f (1) (ii) f (x+1) (iii) f (x) + f (1)
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/iyLpKoATudc"> Answers</a>
        for above Questions.
        <hr>
        <p>
            1.	Let f = {(x,y) | x,y ∈ N and y = 2x} be a relation on N. Find the domain, co-domain and range. Is this relation a function?
        </p>
        <p>
            2.	Let X = {3, 4, 6, 8}. Determine whether the relation R = {(x, f (x)) | x ∈ X, f (x) = x 2  + 1}
is a function from X to N?
        </p>
        <p>
            3.	Given the function f : x →
(i) f (-1)
(iii)	f (2)
 
x 2 − 5x + 6 , evaluate
(ii) f (2a)
(iv) f (x − 1)
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/95GnRKVZDds"> Answers</a>
        for above Questions.
        <hr>
        <p>
            4.	A  graph representing the function f (x) is  given in Fig.1.16	10
9
it is clear that f (9) = 2.	8
7
(i)	Find the following values of the function	6
4
 
(a)	f (0)
 
(b)	f (7)
 
(c)	f (2)
 
(d) f (10)	3
2
 
(ii)	For what value of x is f (x) = 1?
(iii)	Describe the following (i) Domain (ii) Range.
(iv)	What is the image of 6 under f ?

        </p>
        <p>
            5.	Let f (x) = 2x+5. If x ¹ 0 then find
 
f (x + 2)− f (2) /
x	.

        </p>
        <p>
            6.	A function f is defined by f (x) = 2x – 3
(i)	find f (0) + f (1) /
2
(ii)	find x such that f (x) = 0.
x	24–2x	x
 
(iii)	find x such that f (x) = x .
(iv)	find x such that f (x) = f (1 − x) .

        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/_Hn0NBF1DO8"> Answers</a>
        for above Questions.
        <hr>
        <p>
            7.	An open box is to be made from a square piece of material, 24 cm on a side, by cutting equal squares from the corners and turning up the sides as shown (Fig.1.17). Express the volume V of the box as a function of x.
        </p>
        <p>
            8.	A function f is defined by f (x) = 3 − 2x . Find x such that f (x 2 ) = (f (x))2 .
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/4vRZfP-K-i0"> Answers</a>
        for above Questions.
        <hr>
        <p>
            9.	A plane is flying at a speed of 500 km per hour. Express the distance ‘d ’ travelled by the plane as function of time t in hours.
        </p>
        <p>
            10.	The data in the adjacent table depicts the length of a person forehand and their corresponding height. Based on this data, a student finds a relationship between the height (y) and the forehand length(x) as y = ax + b , where a, b are constants.
(i)	Check if this relation is a function.
(ii)	Find a and b.
(iii)	Find the height of a person whose forehand length is 40 cm.
(iv)	Find the length of forehand of a person if the height is 53.3 inches.
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/C8uOImpWwFM"> Answers</a>
        for above Questions.
        <hr>
    </div>
</div>
<%- include('../../partials/feedback') -%>
<%- include ('../../partials/footer') -%>