<%- include ('../../partials/header') -%>
<div class="linkcontainer">
    <h1>Exercise 1.1</h1><hr>
    <div class="ques">
        <p>
            Example 1.1 If A = {1,3,5} and B = {2,3} then (i) find A B  ́ and B A ́ .
            (ii) Is A B×=×B A? If not why? (iii) Show that n(A×B) = n(B×A) = n(A)× n(B)
        </p>
        <p>
            Example 1.2 If A×B = {(3,2), (3,4), (5,2), (5,4)} then find A and B.
        </p>
        <p>
            Example 1.3 Let A = {x ∈ N | 1 &lt x &lt 4 } , B = {x ∈ W |  0 ≤ x &lt 2}  and C ={x ∈ N |x&lt3} .
            Then verify that
            (i) A B # ( ) , C A = ( ) # B A , ( ) # C (ii) A B # ( ) + C A = ( ) # B A+( ).
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/cYVPc6Lo0Us"> Answers</a>
        for above Questions.
        <hr>
        <p>
            1.	Find A´B , A´A  and B ´A
            (i) A={2,−2, 3} and B ={1,−4}
            (ii)	A=B ={p ,q}	(iii) A={m ,n} ; B =f
        </p>
        <p>
            2.	Let A = {1,2,3} and B = { x | x
                is a prime number less than 10}. Find A´B
                and B ´A .
        </p>
        <p>
            3. If BxA =  {(-2,-3),(2,4),(0,3),(0,4),(3,3),(3,4)} find A and B.
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/bgUvqQGD77I">Answers </a>
        for above Questions.
        <hr>
        <p>
            4. If A = {5 , 6}, B = { 4, 5, 6} , C = {5, 6, 7 }, Show that A×A = (B×B) ∩ (C×C).
        </p>
        <p>
            5. Given A={1,2,3}, B = {2,3,5}, C = {3,4} and D = {1,3,5}, check if
            (A∩C) × (B∩D) = (AxB) ∩ (CxD) is true?
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/_-g7AfwpRJ8">Answers </a>
        for above Questions.
        <hr>
        <p>
            6. Let A = {x ∈  W |  x &lt 2} , B = {x ∈ N |1 &lt x ≤ 4 } and C = {3,5} . Verify that
            (i) A x (B ∪ C) = (A x B) ∪ (A x C ) (ii) A x (B ∩ C) = (A x B) ∩ (A x C)
            (iii) (A ∪ B) × C = (A x C) ∪ (B x C)
        </p>
        <p>
            7. Let A = The set of all natural numbers less than 8, B = The set of all prime numbers
            less than 8, C = The set of even prime number. Verify that
            (i) (A ∩ B)× C = (A x C) ∩ (B x C) (ii) A x (B - C ) = (A x B ) - (A x C).
        </p>
        Click here for :-
        <a target="_blank" href="https://youtu.be/FXV8tP-t6WE">Answers </a>
        for above Questions.
        <hr>
    </div>

</div>
<%- include('../../partials/feedback') -%>
<%- include ('../../partials/footer') -%>