<div id="fbcontainer">
    <h2>Leave Us Feedback</h2>
    <div>
        <form action="/" method="post">
            
            <textarea name="data" id="tarea" cols="30" rows="10"></textarea>
            <button  name="btn" type="submit" id="fbbtn">Send</button>
        </form>
    </div>
</div>
