<div class="footercontainer">
    <div class="imgcontainer">
        <img src="https://yt3.ggpht.com/a/AATXAJxBLfuACWwYPeUWJpsmo4cmp7PCtUCg0I088_ah=s100-c-k-c0xffffffff-no-rj-mo"" alt="KK logo">
    </div>
    <div class="insidecontent">
        <div class="contact one">
            Contact Us
            <div>
                <a target="_blank" href="https://www.instagram.com/r_.a_.h_.u_l/?r=nametag"><i style="color: black;" class="fab fa-instagram" ></i> Instagram</a>
            </div>
            <div>
                 <a target="_blank" href="https://twitter.com/rahul_rs142?s=08"><i style="color: black;" class="fab fa-twitter-square"></i>Twitter</a>
            </div>
        </div>
        <div class="support one">
            Support Us
            <div>
                <a target="_blank" href="https://www.instagram.com/katrathu_kanitham/?r=nametag"><i style="color: black;" class="fab fa-instagram"></i> Instagram</a>
            </div>
            <div>
                <i class="far fa-envelope"></i><span>Katrathu.kanitham8@gmail.com</span>
            </div>
        </div>
        <div class="developer one">
            Contact Developer
            <div>
                <a target="_blank" href="https://instagram.com/_.tonight_.gamer._?igshid=gkax4gxhrvdq"><i style="color: black;" class="fab fa-instagram"></i> Instagram</a>
            </div>
            <div>
                <i class="far fa-envelope"></i> <span>manumadhu2906@gmail.com</span>
            </div>
        </div>
    </div>
    <div class="footerpara">
        <p> &copy; 2020 Copyright ., Made with ❤️ by Rover</p> 
    </div>
   
</div>
</body>
</html>