<div id="videobox">
    <h1 style="font-family: 'Times New Roman', Times, serif;">Some Video Lectures </h1><hr>
    <div class="ivideo">
        <iframe src="https://www.youtube-nocookie.com/embed/YmwRkZ7AE6M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="vcontent">Sets&Functions|Introduction & Exercise 1.1</p>
    </div>
    <div class="ivideo">
        <iframe src="https://www.youtube-nocookie.com/embed/CWHNweQaN8M" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="vcontent">Sets & Functions|Exercise 1.2 Introduction</p>
    </div>
    <div class="ivideo">
        <iframe src="https://www.youtube-nocookie.com/embed/HvetTIRVaDU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="vcontent">Sets & Functions|Exercise 1.5 Introduction & Example 1.20</p>
    </div>
    <div class="ivideo">
        <iframe src="https://www.youtube-nocookie.com/embed/6M3W6mifHgQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="vcontent">Algebra|Intoduction,Exercise 3.1 and Worked Examples</p>
    </div>
    <div class="ivideo">
        <iframe src="https://www.youtube-nocookie.com/embed/fgIG7Gc9zXs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="vcontent">Algebra|Exercise 3.1 and Worked Sums</p>
    </div>
    <div class="ivideo">
        <iframe src="https://www.youtube-nocookie.com/embed/xd_OmjI7J6E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <p class="vcontent">Algebra|Exercise 3.1 and Worked Sum</p>
    </div>
    <p id="note">
        Note: The Content in the videos that are related to educational purposes only.
    </p>
</div>