<%- include('partials/header') -%>

<div>
    <h2>
        Founder
    </h2>
    <h3>Mr.Rahul Srinivasan<small>M.E (VLSI  DESIGN)</small></h3>
    <h2>
        Tutor
    </h2>
    <h3>
        Mrs.Priyanka <small>M.Sc (MATHEMATICS).,B.Ed</small>
    </h3>
</div>

<%- include('partials/footer')-%>