<%- include('partials/header') -%>

<div>
    <h2>
        Founder
    </h2>
    <h3>Mr.Rahul Rad <span>B.E ECE</span></h3>
    <h2>
        Tutor
    </h2>
    <h3>
        Mrs.Nandhini <span>MSC Maths</span>
    </h3>
</div>

<%- include('partials/footer')-%>