<%- include('partials/header')-%>
        <div class="chaptercontainer common">
            <h1>Chapters  <em style="font-size: medium;">*only chapter 1 is available</em></h1><hr>
            <div>Chapter-1
                <a href="chapters/chapter1">Relation & Functions</a>
            </div>
            <div>Chapter-2
                <a href="chapters/chapter2">Numbers & Sequences</a>
            </div>
            <div>Chapter-3
                <a href="chapters/chapter3">Algebra</a>
            </div>
            <div>Chapter-4
                <a href="chapters/chapter4">Geometry</a>
            </div>
            <div>Chapter-5
                <a href="chapters/chapter5">CoordinateGeometry</a>
            </div>
            <div>Chapter-6
                <a href="chapters/chapter6">Trigonometry</a>
            </div>
            <div>Chapter-7
                <a href="chapters/chapter7">Mensuration</a>
            </div>
            <div>Chapter-8
                <a href="chapters/chapter8">Statistics & Probabilty</a>
            </div>
            
        </div>
<%- include('partials/videos')-%>
<%- include('partials/feedback') -%>
<%- include('partials/footer')-%>