<%- include('partials/header') -%>

<div>
    <h2>
        Founder
    </h2>
    <h3>Mr.Rahul Rad <span>1334567890</span></h3>
    <h2>
        Tutor
    </h2>
    <h3>
        Mrs.Nandhini <span>1234567890</span>
    </h3>
</div>


<%- include('partials/footer')-%>