<%- include('partials/header') -%>

    <% files.map(file => { %>
      <div class="pdf">
          <h2> Click to download :- <a href="<%= file.url %>">MathsBook.pdf</a></h2>
      </div>
    <% }) %>
<%- include('partials/videos') %>
<%- include('partials/footer') %>